<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>20/07/22 13:16:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Helper.close()[pri:0, instance:framework.testcases.ExamplesTest@59fa1d9b]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>20/07/22 13:16:16</td>   <td>-16795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Helper.launchBrowser()[pri:0, instance:framework.testcases.ExamplesTest@59fa1d9b]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>20/07/22 13:16:33</td>   <td>499</td> <td title="&lt;&lt;Helper.quit()[pri:0, instance:framework.testcases.ExamplesTest@59fa1d9b]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1501587365</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/07/22 13:16:27</td>   <td>-5272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplesTest.testAddRemoveElements()[pri:0, instance:framework.testcases.ExamplesTest@59fa1d9b]">testAddRemoveElements</td> 
  <td>main@1501587365</td>   <td></td> </tr>
</table>
